*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

#logo{
    position: relative;
    padding: 30px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

 h1{
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.box img{
    width: 200;
    margin-right: 25px;
    transition: transform 450ms; 
}

.box img:hover{
    transform: scale(1.08);
}

button{
    color: rgb(109, 106, 106);
    background: #000;
    margin: 40px;
    padding:10px;
    border: 2px dotted gray;
    position: absolute;
    left: 40%;
}